<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Sensor de temperatura </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2> Sensor de temperatura </h2>
        <button class="botao" id="botao_exibir"> Exibir Temperatura </button>
        <div id="logs-container" class="hidden">
            <h3> Temperatura </h3>
            <div id="mensagens">
                <p> Nenhuma mensagem recebida ainda </p>
            </div>
            <button class="botao" id="botao_reset"> Limpar Mensagens </button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>